.card {
  width: 150px;
  min-width: 150px;
  background: transparent;
  border: none;
  box-shadow: none;
  margin-top: 0;
  overflow: visible;
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  /* border: 1px solid #e3e3e3; */
  border-radius: 8px;
  /* overflow: hidden; */
  /* margin-top: 30px; */
  /* width: calc((100vw - 80px - 260px - (var(--discoverColumnPadding) * var(--numberOfDiscoverColumns))) / var(--numberOfDiscoverColumns)); */
  max-width: calc(1400px - 80px - 260px - (30px * 5) / 5);
}

.card:first-child {
  margin-left: 40px;
}

.card-image {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  width: 100%;
  min-height: calc(150px * 1.5);
  height: calc(150px * 1.5);
  background: #dbdbdb;
  overflow: hidden;
  /* max-height: ?; */
}

.card-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
  left: 0;
  display: inline-block;
}

.image {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.card-options {
  position: absolute;
  top: 8px;
  right: 8px;
  z-index: 4;
  opacity: 0.6;
}

.no-click {
  color: #000;
  text-decoration: none;
  font-weight: normal;
}

.glyophicon {
  font-size: 1.6em;
  background-image: url('/assets/images/glyophicon_circle_2.jpg');
  position: relative;
  top: 0;
  left: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 1em;
  min-height: 1em;
  width: 1em;
  height: 1em;
  line-height: inherit;
  background-position: center center;
  background-repeat: no-repeat;
  color: inherit;
  box-sizing: border-box;
}

.card-content {
  width: 100%;
  padding: 26px 10px 12px 10px;
  position: relative;
  white-space: normal;
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
}

.consensus {
  position: absolute;
  top: -19px;
  left: 10px;
  width: 38px;
  height: 38px;
  box-sizing: border-box;
  display: inline-block;
  transition: transform 0.2s;
  transform: scale(1);
}

.outer-ring {
  margin-right: 0;
  width: 38px;
  height: 38px;
  padding: 2px;
  display: inline-block;
  border-radius: 50%;
  background-color: #081c22;
}

.user-score {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
  text-align: center;
}

.percent {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  padding-top: 1px;
  padding-left: 1px;
  font-size: 0.6em;
  color: #fff;
  font-family: 'Consensus' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.card-content h2 {
  font-size: 1em;
  margin: 0;
  width: 100%;
  overflow-wrap: break-word;
}

.card-content h2 a {
  font-weight: 700;
  color: #000;
  text-decoration: none;
}
.card-content p {
  font-size: 1em;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.6);
}

.hover {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(20px);
  width: 100%;
  height: 100%;
  border-radius: var(--imageBorderRadius);
  z-index: 5;
  transition: linear 0.1s;
  opacity: 0;
}
